

header{
  font-family: "Manrope";
  /*width: 1400px;*/
  display: grid;
  justify-content: space-around;
}
.logo{
  width: 347px;
  height: 53px;
}
a{
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screath{
  align-items: center;
}
.profils{
  display: flex;
  align-items: center;
}
.profil{
  /*margin: 5px;*/
  padding: 20px;
  font-size: larger;
  align-items: center;
}
.categori-list{
  display: flex;
  align-items: center;
}
.categori {
  padding: 20px;
  margin: 3px;
  border: 3px;
  border-color: black;
}